*{
    font-family:'Manrope',sans-serif;
    color: rgb(249, 252, 251);
}
h1{
    text-align: start;
    padding: 0;
    font-size: 18px;
    scroll-behavior: smooth;
}
.main_bg{
    background:-moz-radial-gradient(circle at 3% 25%,rgba(0,40,83,1) 0%,rgba(4,12,2,1)25%) ;
    
    background:-webkit-radial-gradient(circle at 3% 25%,rgba(0,40,83,1) 0%,rgba(4,12,2,1)25%) ;
        
    background:-moz-radial-gradient(circle at 3% 25%,rgba(0,40,83,1) 0%,rgba(4,12,2,1)25%) ;

    background:-ms-radial-gradient(circle at 3% 25%,rgba(0,40,83,1) 0%,rgba(4,12,2,1)25%) ;

    background:radial-gradient(circle at 3% 25%,rgba(0,40,83,1) 0%,rgba(4,12,2,1)25%) ;

}